<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Syufei.bybook">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bybook_icon"
        android:label="Bybook"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/bybook_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bycar">
        <activity
            android:name="com.Syufei.bybook.MineMomentsActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.MomentDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.ManageBookActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.ManageAfterActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.TryCarListActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.ManageTryBookActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.ManageOrderActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.ManagerActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.BookDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.ImpairActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.CareActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.TryCarActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.ReleaseMessageactivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.PurchaseActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.ImpairOrderActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.NoticeActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.OrderListActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.ui.MainActivity"
            android:exported="false" />
        <activity
            android:name="com.Syufei.bybook.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>